
@import "variables";
@import "fonts";
@import "header";


.top-slide {
  background: url(../img/slider_bg.jpg) no-repeat;
  background-size: cover;
  padding: $sz*12 0 $sz*28;
  h2 {
    background: $yl;
    display: inline;
    font-family: "CenturyGothic-Bold";
    text-transform: uppercase;
    font-size: $sz*7;
    padding: 0 $sz*1.3;
  }
  
  p {
    background: $ts;
    display: inline;
    font-size: $sz*2.4;
    color: $wh;
    padding: 0  $sz/2.5;
  }
}
.top-container {
  width: 85%;
  margin: 0 $at;

  :nth-child(2) {
    margin: $sz/2 0 $sz;
  }
}
 
.specialize-container {
  width: 80%;
  margin: 0 $at;
  text-align: center;
  h3 {
    font-size: $sz*3.5;
    margin: $sz*2 0 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: $sz*2.4;
   margin: $sz*2 0 $sz*4;
  }
}

.card {
    margin: $sz 0 0;
 }

.top-card {
    width: $sz*25;
    height: $sz*20.1;
    background: $yl;
    display: $fl;
    align-items: center;
    justify-content: center;

    img{
        width: $sz*25;
        height: $sz*20.8
    }
    .fas{
      font-size: $sz*11;
    }
    .ih-zoom-in{
color:$bg;
font-size: $sz*2;
font-weight: bold;
text-transform: uppercase;

    }
}


.first-card-img {
    background: none;

    img {
        min-width: 100%;
    }
}

.bottom-card {
    width: $sz*25;
    height: $sz*8.5;
    background:$ts;
    color: $wh;
    display: $fl;
    align-items: center;
    justify-content: center;

    p {
        display: inline-block;
        margin: 0;
        font-size: $sz;
    }
}

 

.first-card {
  p{
    font-size: $sz*2;
  }
    
}

.specialize-card {
  max-width: 86%;
    display: $fl;
    justify-content: space-between;
    margin-left: $sz*8.1;
}
@import "portfolio";
@import "footer";
@import "media";